<footer class="site-footer">

  <div class="wrapper">
    {% if page.name == "index.html" %}
        <a href="{{page.name}}?t=day">Day</a> |
        <a href="{{page.name}}?t=night">Night</a>
    {% else %}
        <a href="{{page.name}}?t=day">Jour</a> |
        <a href="{{page.name}}?t=night">Nuit</a> | 
        <a href="https://www.youtube.com/watch?v=Pr8ETbGz35Q">Jour-Nuit</a>
    {% endif %}

    <br/>
  </div>

</footer>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
<script src="//unpkg.com/popper.js@1"></script>
<script src="//unpkg.com/tippy.js@5"></script>

<script type="text/javascript">
$(document).ready(function() {
  // Default syntax highlighting
  hljs.initHighlightingOnLoad();

  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });

	// Enable tooltips via Tippy.js
	if (Array.isArray(window.tooltips)) {
		window.tooltips.forEach(function(tooltip) {
			var selector = tooltip[0];
			var config = tooltip[1];
			tippy(selector, config);
		})
	}
});

</script>

{% if page.custom_js %}
<!-- Custom page specific js files -->
  {% for js_file in page.custom_js %}
    <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}


